# Specific
headless/etc/skel/.local/bin/*
personal/etc/skel/.local/code/*
gaming/etc/skel/.local/bin/*
/heroic
/mgba
/melonds
/dolphin
/cemu
/ryujinx

# Builds
*.dll
*.exe
*.o
*.out
*.so
*.test
*.iso
*.tar.*

# Databases
*.db
*.sqlite

# Logs
*.log

# Environment
.env*
!.env.example

# Tools
.vscode/
.idea/
.DS_Store
*.swp
tags*
