[keyboard]
bindings = [
  { key = "V",        mods = "Control|Shift", action = "Paste" },
  { key = "C",        mods = "Control|Shift", action = "Copy" },
  { key = "J",        mods = "Control", action = "ScrollLineDown" },
  { key = "K",        mods = "Control", action = "ScrollLineUp" },
]