theme "him"
simplified_ui false
pane_frames true
styled_underlines true

show_startup_tips false
show_release_notes false

copy_on_select true
copy_command "xclip -selection clipboard"

web_server false

// Go expert mode
// default_layout "compact"